
:root {
    --padding-container: 100px 0;
    --color-title: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}


.hero::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/landing1.jpg');
    background-size: cover;
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
    color:#000000;
}
.nav__logo img {
    width: 130px; /* Ajusta el ancho según sea necesario */
    height: auto;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Estilos para el botón de cerrar del modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
   ;
}

.cta {
    display: inline-block;
    background-color: #030302;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* Estilos para los modales de login y registro */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.modal__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal__title {
    margin-bottom: 20px;
}

.form__group {
    margin-bottom: 15px;
}

.form__group label {
    display: block;
    margin-bottom: 5px;
}

.form__group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #2091f9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1e87ea;
}

/* Knowledge */

.knowledge {
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #808080, #ffc400, #ffffff);
    overflow: hidden;
}


.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 22px;
}

.knowledge__paragraph2{
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
    font-style: italic;
    font-size: px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Espacio alrededor del modal */
    padding: 30px; /* Mayor espacio interno */
    border: 1px solid #ddd; /* Borde más suave */
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el encabezado del modal */
.modal-content h3 {
    margin-top: 0;
    margin-bottom: 15px; /* Agregar margen inferior para separación */
    color: #333; /* Color de texto más oscuro */
    font-size: 24px; /* Tamaño de fuente más grande */
    border-bottom: 1px solid #ddd; /* Separación con línea */
    padding-bottom: 10px;
}

/* Estilos para la lista de detalles */
.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Ajustar el margen superior si es necesario */
}

/* Estilos para los elementos de la lista */
.modal-content li {
    margin-bottom: 10px;
}

/* Estilos para los enlaces dentro del modal */
.modal-content a {
    color: #007bff; /* Color de enlace azul */
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.modal-content li:first-child {
    margin-top: 10px; /* Ajustar el margen superior del primer elemento */
}


/* Estilos para el botón de cerrar del modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


#info-webinar {
    display: none; /* Inicialmente oculto */
    /* Agrega estilos adicionales según sea necesario */
}


/* Canjes */

.exchange{
    text-align: center;
}

.exchange__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.exchange__element{
    background-color: #adadad9a;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
    --color-plan: #696871;
    --color-exchange: #000000;
    --bg-cta: #000000;
    --color-cta: #FFF;
    --color-items: #696871;
}

.exchange__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #ee8f00de;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .8);
    --color-plan: rgb(255 255 255 / 75%);
    --color-exchange: #fff;
    --bg-cta: #000000;
    --color-cta: #FFF;
    --color-items: #fff;
}


.exchange__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.exchange__exchange{
    font-size: 2.1rem;
    color: var(--color-exchange);
}

.exchange__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.exchange__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* carousel */

.carousel {
    background-image: linear-gradient(to bottom, #cccccc, #696868); /* Degradado de grises */
    background-color: #f7e5f7; /* Color de fondo de respaldo */
    padding: 20px; /* Añade espaciado alrededor del contenido si es necesario */
    color: #333; /* Color de texto para asegurar legibilidad */
}


.carousel__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.carousel__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.carousel__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.carousel__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.carousel__texts{
    max-width: 700px;
}

.carousel__course{
    background-color: rgb(224, 159, 19);
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.carousel__arrow{
    width: 90%;
    cursor: pointer;
}

/* Questions */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454D4;
    border-radius: 6px;
}

.questions__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;
    line-height: 1.5;
    text-align: justify;
}

.questions__img{
    display: block;
}

.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer{
    background-color: #111111;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #ffaf03;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/*Registro cursos*/

/* Estilos específicos para la página de registro de cursos */

/* Estilos específicos para el formulario de registro de cursos */
    
.register-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 6'%3E%3Cpath d='M6 6L0 0h12z' fill='%23777'/%3E%3C/svg%3E"), linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.btn {
    background-color: #000000; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffaf03; /* Cambia el color de fondo al pasar el ratón */
}

.register-course-btn{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
}

#code-display {
    margin-top: 20px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

#code-display p {
    margin: 0;
}

#registration-code {
    font-weight: bold;
    color: #333;
}


/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .carousel__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .carousel__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .carousel__img{
        width: 200px;
        height: 200px;
        
    }

    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .exchange__element{
        width: 90%;
    }

    .exchange__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .exchange__exchange{
        font-size: 2rem;
    }

    .carousel{
        --padding-container: 60px 0;
    }

    .carousel__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .carousel__arrow{
        width: 100%;
    }

    .carousel__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}
